@model CompanyOrg.Models.Komputer

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.nazwa_dns)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.nazwa_dns)
    @Html.ValidationMessageFor(model => model.nazwa_dns)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.nazwa)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.nazwa)
    @Html.ValidationMessageFor(model => model.nazwa)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.numer_seryjny)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.numer_seryjny)
    @Html.ValidationMessageFor(model => model.numer_seryjny)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.host_name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.host_name)
    @Html.ValidationMessageFor(model => model.host_name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.MPK)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MPK)
    @Html.ValidationMessageFor(model => model.MPK)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.szczegoly_lokalizacji)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.szczegoly_lokalizacji)
    @Html.ValidationMessageFor(model => model.szczegoly_lokalizacji)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.nr_inwentarzowy)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.nr_inwentarzowy)
    @Html.ValidationMessageFor(model => model.nr_inwentarzowy)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.wartosc_poczatkowa)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.wartosc_poczatkowa)
    @Html.ValidationMessageFor(model => model.wartosc_poczatkowa)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.wartosc_netto)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.wartosc_netto)
    @Html.ValidationMessageFor(model => model.wartosc_netto)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.numer_ot)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.numer_ot)
    @Html.ValidationMessageFor(model => model.numer_ot)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.nr_id_system_zew)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.nr_id_system_zew)
    @Html.ValidationMessageFor(model => model.nr_id_system_zew)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.cd_dvd)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.cd_dvd)
    @Html.ValidationMessageFor(model => model.cd_dvd)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.karta_sieciowa)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.karta_sieciowa)
    @Html.ValidationMessageFor(model => model.karta_sieciowa)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.adres_ip)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.adres_ip)
    @Html.ValidationMessageFor(model => model.adres_ip)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.zegar_cpu)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.zegar_cpu)
    @Html.ValidationMessageFor(model => model.zegar_cpu)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ilosc_proc)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ilosc_proc)
    @Html.ValidationMessageFor(model => model.ilosc_proc)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ilosc_ram)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ilosc_ram)
    @Html.ValidationMessageFor(model => model.ilosc_ram)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.rozmiar_hdd)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.rozmiar_hdd)
    @Html.ValidationMessageFor(model => model.rozmiar_hdd)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.nazwa_monitora)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.nazwa_monitora)
    @Html.ValidationMessageFor(model => model.nazwa_monitora)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.rozmiar_monitora)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.rozmiar_monitora)
    @Html.ValidationMessageFor(model => model.rozmiar_monitora)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.model_procesora)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.model_procesora)
    @Html.ValidationMessageFor(model => model.model_procesora)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.model_komputera)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.model_komputera)
    @Html.ValidationMessageFor(model => model.model_komputera)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.wlascicielId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.wlascicielId)
    @Html.ValidationMessageFor(model => model.wlascicielId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.typ_komputera)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.typ_komputera)
    @Html.ValidationMessageFor(model => model.typ_komputera)
</div>

<div class="editor-label">
    lokalizacja
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.lokalizacjaId, ((IEnumerable<CompanyOrg.lokalizacja>)ViewBag.Possiblelokalizacjas).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.lokalizacjaId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.lokalizacjaId)
</div>
